
@keyframes heart-scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes sparks-blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes gentle-pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
}


.text-heart {
  animation: gentle-pulse 3s infinite ease-in-out;
}

/* При наведении остановска пульсации и  биение */
.text-heart:hover {
  animation: heartbeat 0.6s ease-in-out;
}